@import "../../styles/colors.scss";

.links {
  display: grid;
  align-items: center;
  max-width: 800px;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  padding: 2rem 0;
  margin-bottom: 1rem;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;

  li {
    font-size: 1rem;
    font-weight: 300;
    text-decoration: underline;
    color: $color-4;

    &:last-of-type {
      margin-right: 0;
    }
  }

  li.active {
    color: $color-3;
  }

  @media (max-width: 680px) {
    grid-template-columns: repeat(3, auto);
    padding: 2rem 1rem;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, auto);
  }
}
