@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./_colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.color-1 {
  color: $color-1;
}

.color-2 {
  color: $color-2;
}

.color-3 {
  color: $color-3;
}

.color-4 {
  color: $color-4;
}

.main {
  height: 100vh;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 800px) {
    min-height: 100vh;
    height: auto;
  }
}
